<!DOCTYPE html>
<html lang="en">

<head>
	<title>Twitter Kişilik Değerlendirmesi</title>
	{% load static %}
	<link rel="shortcut icon" href="{% static 'sentiment/css/fav.png' %}" sizes="16x16"></link>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="author" content="Sabri Eray Özbek|Muhammed Erdinç" />
  	<meta name="description" content="Karakter Analizi" />
  	<meta name="keywords" content="Karakter, Karakter Analizi" />
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" href="{% static 'personality/css/bootstrap.min.css' %}" type = "text/css"/>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'personality/css/perview.css' %}">
	
</head>
<body>
	<center><h1>Kullanıcı Profili Bulunamadı.<br> or<br> Bağlantı Zaman Aşımına Uğradı.</h1></center>
<center><a href="http://127.0.0.1:8000/" style="font-size: 1.5vw;color: white;">Geri Dön</a></center>
<center>
     <div id="chart_div"></div></center>
     {% load static %}

</div>
</body>
</html>